//Escrevendo isso de maneira rápida para entregar logo o MVP
//Estou seguindo o seguinte padrão de nomes:
//lpf-{componente}-{compoente_filho} ex: lpf-sale-card (o card que fica dentro da sale)
//lpf-{componente}_{nome_compostp} ex: lpf-backgroud_trans (background trans é o nome completo)
//lpf-{componente}--{modificador_do_componente} ex: lpf-sale-card--red (é um card que fica dentro da sale e será vermelho e precisa da classe lpf-sale-card)
//OBS: estou seguindo esse padrão (que é mais próximo do material design do que do bootstrap) por causa do nível de complexidade que o layout pode chegar
//OBS 2: devido a pressão por causa do tempo, não estou padronizando certos componentes, como botões, texto, etc. Isso é algo que demanda tempo e precisa ser alterado várias vezes durante o desenvolvimento, então pode ficar para depois, quando tudo estiver mais maduro.
//OBS 3: as classes do site (lpf) devem ser as ultimas.
//OBS 4: estou jogando o sistema de grid pra cá, para evitar poluição no front
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/code";
@import "../bootstrap/grid";
//TODO: altear isso para ser usado em conjunto do o bootstrap
$lpf-red: rgb(219, 0, 23);
$lpf-nav-heigth: calc(3rem + 2vh);
$lpf-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.15);
$lpf-box-shadow_top: 0 -0.4rem 0.5rem rgba(0, 0, 0, 0.15);
$lpf-border-radius: 8px;
@mixin lpf-background-red {
  background-color: $lpf-red;
}
@mixin lpf-button-red {
  @include button-variant($lpf-red, $lpf-red);
}
@mixin lpf-flex-fill {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@mixin lpf-price-cut {
  & > span {
    display: block;
    color: $lpf-red;
    font-weight: bold;
  }
  & > small {
    display: block;
    color: $lpf-red;
    font-weight: bold;
   // text-decoration: line-through;
  }
}



@mixin lpf-hige-scroll-bar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
//Estou limpando de vez o front do bootstrap, está ficando demorado apagar e criar divs a cada alteração.
//Mexer em un arquinvo único vai ser maís fácil e rápido
//isso daqui pode ser melhorado, não econtrei uma razão matemática simples, então vai no if mesmo.
@function spacing($size) {
  $result: 0;
  @if ($size == 1) {
    $result: ($spacer * .25)
  } @else if ($size == 2) {
    $result: ($spacer * .5)
  } @else if ($size == 3) {
    $result: $spacer
  } @else if ($size == 4) {
    $result: ($spacer * 1.5)
  } @else if ($size == 5) {
    $result: ($spacer * 3)
  }
  @return $result;
}
html, body {
  background-color: whitesmoke;
  
  @include media-breakpoint-down('md') {
    background-color: white;
  }
}
main {
  padding-top: $lpf-nav-heigth;
}
.lpf {
  &-text {
    &_red {
      color: $lpf-red;
    }
  }
  &-nav {
    height: $lpf-nav-heigth;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: spacing(5);
    position: fixed;
    z-index: 101;

    @include lpf-background-red;
    & > span {
      color: white;
      font-size: 1.2rem;
    }
  }
  &-sale {
    @include make-row();
    &-itens {
      //@include make-col-ready();
      @include media-breakpoint-down('md') {
        width: 100%;
        min-height: 150vh;
        padding: 0 calc(5vw + 1rem);
      }
      @include media-breakpoint-up('lg') {
        width: 75vw;
        margin-top: spacing(5);
        //@include make-col(9);
      }
      & > section {
        margin-top: spacing(5);
        @include media-breakpoint-down('md') {
          display: none;
          &.active {
            display: block;
          }
        }
        @include media-breakpoint-up('lg') {
          @include make-row();
          margin-left: 0;
          margin-right: 0;
          display: flex;
          flex-direction: row;
        }
        & > h3 {
          width: 100%;
          margin-bottom: spacing(3);
          font-weight: bold;
          @include media-breakpoint-down('md') {
            display: none;
          }
        }
      }
      &-card {
        background-color: white;
        border-radius: $lpf-border-radius;
        @include media-breakpoint-down('md') {
          margin: spacing(5) 0;
        }
        @include media-breakpoint-up('lg') {
          width: calc(250px + 3vw);
          box-shadow: $lpf-box-shadow;
          padding: spacing(3);
          margin-right: spacing(2);
          margin-bottom: spacing(3);
          //@include make-col-ready();
          //@include make-col(4);
        }

        & > div > div {
          @include make-row();
        }
        &-header {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            max-width: 25ch;
            overflow: hidden;
            font-size: 1rem;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }
          &-header {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            max-width: 25ch;
            overflow: hidden;
            font-size: 1rem;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }
        &-header_ {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }

        &-body {
          margin-top: spacing(2);
          height: 15vh;
          position: relative;
          & > span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
          }
          & > span, & > div {
            height: 5vh;
margin-top: 7%;
            @include make-col-ready();
            @include make-col(12);
           
          }
          & > div > button {
            width: 100%;
            margin-left: 3vh;
            margin-top: spacing(2); //alterado aqui
            flex-direction: flex-end;
            @include lpf-button-red();
          }
          @media(max-width:768px){
            display: flex;
            margin-top: spacing(2);
            & > span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              @include make-col-ready();
              @include make-col(8);
            }
            & > div {
              display: flex;
              flex-direction: column-reverse;
              //text-align: right;
              @include make-col-ready();
              @include make-col(4);
              & > button {
                margin-bottom: spacing(3);
                width: 2.5rem;
                height: 2.5rem;
                align-self: flex-end;
                font-weight: bold;
                @include lpf-button-red();
              }
            }
          }
        }
        &-body-md {
          margin-top: spacing(2);

          & > span {
            height: 10vh;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
          & > span, & > div {
            @include make-col-ready();
            @include make-col(12);
           
          }
          & > div > button {
            width: 100%;
            margin-left: 3vh;
            margin-top: spacing(2); //alterado aqui
            flex-direction: flex-end;
            @include lpf-button-red();
          }
          @media(max-width:600px){
            display: flex;
            margin-top: spacing(2);
            & > span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              @include make-col-ready();
              @include make-col(8);
            }
            & > div {
              display: flex;
              flex-direction: column-reverse;
              //text-align: right;
              @include make-col-ready();
              @include make-col(4);
              & > button {
                margin-bottom: spacing(4);
                width: 2.5rem;
                height: 2.5rem;
                align-self: flex-end;
                font-weight: bold;
                @include lpf-button-red();
              }
            }
          }
        }

        &-body_small {
          display: flex;
          margin-top: spacing(2);
          & > span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            @include make-col-ready();
            @include make-col(8);
          }
          & > div {
            display: flex;
            flex-direction: column-reverse;
            //text-align: right;
            @include make-col-ready();
            @include make-col(4);
            & > button {
              margin-bottom: spacing(3);
              width: 2.5rem;
              height: 2.5rem;
              align-self: flex-end;
              font-weight: bold;
              @include lpf-button-red();
            }
          }
        }

        &-body_small_ {
          display: flex;
          margin-top: spacing(2);
          & > span {
            @include make-col-ready();
            @include make-col(8);
          }
          & > div {
            display: flex;
            flex-direction: column-reverse;
            //text-align: right;
            @include make-col-ready();
            @include make-col(4);
            & > button {
              margin-bottom: spacing(3);
              width: 2.5rem;
              height: 2.5rem;
              align-self: flex-end;
              font-weight: bold;
              @include lpf-button-red();
            }
          }
        }
      }
      &-card_ {
        background-color: white;
        border-radius: $lpf-border-radius;
        @include media-breakpoint-down('md') {
          margin: spacing(5) 0;
        }
        @include media-breakpoint-up('lg') {
          width: calc(250px + 3vw);
          box-shadow: $lpf-box-shadow;
          padding: spacing(3);
          margin-right: spacing(2);
          margin-bottom: spacing(3);
          //@include make-col-ready();
          //@include make-col(4);
        }

        & > div > div {
          @include make-row();
        }
        &-header {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            max-width: 25ch;
            overflow: hidden;
            font-size: 1rem;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }
          &-header {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            max-width: 25ch;
            overflow: hidden;
            font-size: 1rem;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }
        &-header_ {
          justify-content: space-between;
          width: 100%;
          display: flex;
          & > span {
            //titulo
            font-weight: bold;
            @include make-col-ready();
            @include make-col(8);
          }
          & > label {
            //titulo
            font-weight: bold;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            font-size: 1rem;
            @include make-col-ready();
            
            
          }
          & > div {
            text-align: right;
            @include make-col(4);
            @include lpf-price-cut();
          }
        }

        &-body {
          margin-top: spacing(2);
          height: 12vh;
          & > span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          & > span, & > div {
            @include make-col-ready();
            @include make-col(12);
           
          }
          & > div > button {
            width: 100%;
            margin-top: spacing(5); //alterado aqui
            flex-direction: flex-end;
            @include lpf-button-red();
          }
        }
        &-body-md {
          margin-top: spacing(2);
          height: 15vh;
          & > span {
          }
          & > span, & > div {
            @include make-col-ready();
            @include make-col(12);
           
          }
          & > div > button {
            width: 100%;
            margin-top: spacing(5); //alterado aqui
            flex-direction: flex-end;
            @include lpf-button-red();
          }
        }

        &-body_small {
          display: flex;
          margin-top: spacing(2);
          & > span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            @include make-col-ready();
            @include make-col(8);
          }
          & > div {
            display: flex;
            flex-direction: column-reverse;
            //text-align: right;
            @include make-col-ready();
            @include make-col(4);
            & > button {
              margin-bottom: spacing(3);
              width: 2.5rem;
              height: 2.5rem;
              align-self: flex-end;
              font-weight: bold;
              @include lpf-button-red();
            }
          }
        }

        &-body_small_ {
          display: flex;
          margin-top: spacing(2);
          & > span {
            @include make-col-ready();
            @include make-col(8);
          }
          & > div {
            display: flex;
            flex-direction: column-reverse;
            //text-align: right;
            @include make-col-ready();
            @include make-col(4);
            & > button {
              margin-bottom: spacing(3);
              width: 2.5rem;
              height: 2.5rem;
              align-self: flex-end;
              font-weight: bold;
              @include lpf-button-red();
            }
          }
        }
      }
    }
    &-item {
      margin: spacing(5) 0;

      @include media-breakpoint-down('md') {
        width: 100%;
        min-height: 100vh;
        padding: 0 calc(5vw + 1rem);
      }
      @include media-breakpoint-up('lg') {
        @include make-col(9);
      }
      & h3 {
        width: 100%;
        margin-bottom: spacing(3);
        font-weight: bold;
      }
      & > section {
        margin-top: spacing(3);
        & h4 {
          margin: 0;
        }
        & > div:nth-child(1) {
          margin-bottom: spacing(3);
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          & > h5 {
            font-weight: bold;
          }
          & > i {
            transition: ease-in 0.3s 0.05s;
          }
          &[aria-expanded="true"] {
            & > i {
              transform: rotate(-180deg);
            }
          }
        }
        & > div:nth-child(2) {
          & > div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            & label {
            }
            & span {
              color: $red;
              font-weight: bold;
            }
          }
        }
      }
    }
    &-cart {
      //min-height: 100vh !important;
      position: fixed;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: $lpf-box-shadow;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 102;
      @include lpf-hige-scroll-bar();
      @include media-breakpoint-down('md') {
        width: 100%;
        min-height: 5vh;
        padding: spacing(4) * 1.5;
        right: unset;
        border-radius: $lpf-border-radius * 2;
        box-shadow: $lpf-box-shadow_top;
      }
      @include media-breakpoint-up('lg') {
        min-width: 25vw;
        height: calc(100vh - #{$lpf-nav-heigth});
        padding: spacing(3);
        //@include make-col-ready();
        @include make-col(3);
      }
      & > .tab {
        margin-top: spacing(3);
        display: flex;
        justify-content: space-between;
        background-color: white !important;
        border: none !important;
        & .btn {
          margin-left: 0 !important;
        }
        @include media-breakpoint-down('md') {
          display: none;
        }
      }
      & > .btn-lg {
        font-size: 1rem;
        @include media-breakpoint-down('md') {
          display: none;
        }
      }
      & > nav {
        display: none;
      }
      & h3 {
        margin-bottom: spacing(3);
        font-weight: bold;
        @include media-breakpoint-down('md') {
          display: none;
        }
      }
      &-list {
        //display: none; //oculto para testes
        margin-top: spacing(3);
        @include lpf-flex-fill();
        @include media-breakpoint-down('md') {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          overflow-x: auto;
          align-content: stretch;
        }
        & button {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 100%;
          font-weight: bold;
          @include lpf-button-red;
        }
        & > div {
          //item de preço
          //@include make-row();
          //padding: 0 spacing(1);
          margin: spacing(3) 0;
          display: flex;
          flex-flow: row;
          @include media-breakpoint-down('md') {
            flex: 0 0 100%;
          }
          & > div:nth-child(1) {
            display: flex;
            flex-flow: column;
            //@include make-col-ready();
            //@include make-col(8);
            @include lpf-flex-fill();
            @include media-breakpoint-down('md') {
              flex-flow: column-reverse;
            }
          }
          & > div:nth-child(2) {
            display: flex;
            flex-flow: row;
            flex-basis: auto;
            flex-grow: .05;
            align-items: center;
            justify-content: space-between;
            //@include make-col-ready();
            //@include make-col(4);
            & > span {
              margin: 0 spacing(1);
              @include media-breakpoint-down('md') {
                display: none;
              }
            }
            & > div {
              display: none;
            }
          }
        }
        //O layout fornecido tem umas inconsistências bem chatas
        //Não quero criar um monte de HTML pois vai virar bagunça,
        //ainda mais pelo fato do CSS ser quase idêntico.
        //Irei criar modificadores sempre que puder (infelizmente) parar solucionar os problemas de forma rápida
        //O ruim desses modificadores é geram um pouco de bacunça :/
        &--sm-full {
          & > h3 {
            display: unset;
          }
          & > div {
            flex-wrap: wrap;
            & > div:nth-child(1) {
              margin-bottom: spacing(3);
              flex-flow: column;
              flex-basis: 100%;
              & > small {
                color: $text-muted;
              }
            }
            & > div:nth-child(2) {
              @include lpf-flex-fill();
              & > span {
                display: unset;
              }
              & > div {
                display: unset;
                text-align: right;
                align-self: end;
                @include lpf-flex-fill();
                @include lpf-price-cut();
              }
            }
          }
        }
      }
      &-address {
        margin-top: spacing(3);
        @include lpf-flex-fill();
        & > h5 {
          margin-top: spacing(3);
        }
      }
      &-payment_method {
        margin-top: spacing(3);
        @include lpf-flex-fill();
        & > .form-check {
          margin-bottom: 1.2rem;
        }
      }
      &-change {
        margin-top: spacing(3);
        @include lpf-flex-fill();
        & > .form-check {
          margin-bottom: 1.2rem;
        }
      }
      &-bill {
        display: flex;
        display: none; //oculto para testes
        flex-flow: column-reverse;
        @include lpf-flex-fill();
        & > div {
          margin-top: .5rem;
        }
        & h4 {
          font-weight: bold;
        }
        & h6 {
          font-weight: bold;
          margin: 0;
        }
      }
      &-total {
        width: 70%;
        padding: spacing(3) 0;
        display: flex;
        font-size: 1.2rem;
        flex-flow: row;
        align-self: flex-end;
        align-items: flex-end;
        border-top: solid 1px transparentize($text-muted, 0.9);
        @include media-breakpoint-down('md') {
          display: none;
        }
        & > div {
          width: 100%;
          display: flex;
          flex-flow: column;
          align-content: space-between;
          align-items: flex-end;
          &:nth-child(1) {
            align-items: flex-start;
          }
          & > small {
            margin-bottom: spacing(1);
            @include lpf-flex-fill();
          }
          & > span {
            color: $lpf-red;
            font-weight: bold;
            @include lpf-flex-fill();
          }
        }
      }
      &-footer {
        //display: none; //oculto para testes
        margin-bottom: spacing(2);
        text-align: right;
        & > span {
          color: $text-muted;
          @include media-breakpoint-down('md') {
            display: none;
          }
        }
        & > button {
          width: 100%;
          margin-top: spacing(2);
          @include lpf-button-red;
        }
      }
      &--sm-full {
        @include media-breakpoint-down('md') {
          min-height: calc(100vh - #{$lpf-nav-heigth});
          padding: spacing(5);
          position: fixed;
          top: 0;
          border-radius: unset;
          & h3 {
            display: block;
          }
          & > .tab {
            display: flex;
          }
        }
      }
      &--nav {
        min-height: 100vh;
        top: 0;
        & > nav {
          margin-bottom: spacing(3);
          //display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  &-nav_tab {
    //.nav é requerido
    height: 100%;
    max-width: 100%;
    //max-height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 100px;
    height:60px;
    //display: flex;
    //flex-flow: row;
    //align-items: flex-start;
    @include lpf-hige-scroll-bar();
    & > li {
    //  word-break: keep-all;
      display: inline-block;
      vertical-align: middle;
    
      width: 45vw;
      & > a {
        
        height: 33.333333333333333333%;
        padding: spacing(3);
        color: $text-muted;
        font-size: 2rem;
        font-weight: bold;
        user-select: none;
        &.active {
          color: $black;
        }
      }
    }
  }
}